DATABASE_URL="postgresql://horizonpay:horizonpay@localhost:5432/horizonpay?schema=public"

NEXT_PUBLIC_STELLAR_NETWORK="testnet"
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
NEXT_PUBLIC_HORIZONPAY_REPAYMENT_ASSET_CONTRACT_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
HORIZONPAY_REPAYMENT_ASSET_CONTRACT_ID="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
NEXT_PUBLIC_HORIZONPAY_FACTORY_CONTRACT_ID="CAZ2QEV64HTZVOK2LCLLOA5WTFPFLBNK5ZS4DPWWME732AJX7Z7GUP6E"
NEXT_PUBLIC_HORIZONPAY_CONFIG_CONTRACT_ID="CBF2TZ7I6UDC4IQLQVPGONIZWQYLQPIXQMPO55EKMR6OEXLSLPF73XYH"
NEXT_PUBLIC_HORIZONPAY_VERIFICATION_REGISTRY_CONTRACT_ID="CBWB3SO56ONBTJX6YQJO7M6U54P3ZT7HZFRKTXWSIY2Q7XITNXDG7OPC"
NEXT_PUBLIC_HORIZONPAY_OFFER_REGISTRY_CONTRACT_ID="CALKGJUNNVSYXKO573UGV4A5YLFE7ZORB7SXCHVUGEMUBU6FCK2S4J2Q"
NEXT_PUBLIC_HORIZONPAY_MARKETPLACE_CONTRACT_ID="CDYJUZG6QGUD4YEYSBT66EAXG7ASEHDBFFK7TQLD4HJ7IMGHJEF73MY7"
NEXT_PUBLIC_HORIZONPAY_SETTLEMENT_CONTRACT_ID="CDGBYHSJXLWKGFVFA2V6WS2FCERBTHKYKC5QJYANI7ZWCYVJFM6QIR2L"
NEXT_PUBLIC_HORIZONPAY_RISK_REGISTRY_CONTRACT_ID="CDMRNXU44P4QOHWULYQY2NKSJGRZCDSEWYCTLHJ6GSELWIEUTWL73RGR"
NEXT_PUBLIC_HORIZONPAY_FRACTIONALIZATION_CONTRACT_ID="CA445WQR7CIH7KN5YHTC64BWEZVL4BI73T7QIM7AEINNUUSZW4BAI7EW"
